* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
  transition: background-color 400ms;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

button {
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  transition: transform 200ms;
}

.light button {
  background-color: lightgrey;
  color: black;
}

.dark button {
  background-color: darkslategrey;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}