body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid grey;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: lightgrey;
  color: black;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}